{% extends "core/base.html" %}

{% block head %} 
	<title>Project Index Page</title>
{% endblock %}

{% block content %}
	{% include "project/partials/searchform.html" %}
	{% if project_list %}
	    <ul style="list-style: none">
	    {% for project in project_list %}
	        <li style="border:solid lightblue 1px; border-top:none; margin-bottom: 3px;">
	        	<h4 style="background-color: lightblue; padding: 1em; padding-bottom:.25em;">{{ project.project_name }}</h4>
	        	<div style="padding:.5em;">
		        	<p>Published: {{ project.publish_date }}</p>
		        	<p>Category: {{ project.category }} </p>
		        	<p>{{project.pitch}}</p> 
		        </div>
	        </li>
	    {% endfor %}
	    </ul>
	{% else %}
	    <p>No projects are posted.</p>
	{% endif %}
{% endblock %}
