{% extends "core/base.html" %}
{% load static %}

{% block head %} 
	<title>Project Index Page</title>
	<link rel = "stylesheet" href = "{% static 'project/style.css' %}"/>
{% endblock %}

{% block content %}
	{% include "project/partials/searchform.html" %}
	<br />
	{% if project_list %}
	    <div class="container-fluid">
	    {% for project in project_list %}
	        <div class="gallery-box">
	        	<div class="title" style-"background-color: {{ project.category.color }};">{{ project.project_name }}</div>
	        	<div class="text">
		        	<p>Published: {{ project.publish_date }}</p>
		        	<p>Category: {{ project.category }} </p>
		        	<p>{{project.pitch}}</p> 
		        </div>
	        </div>
	    {% endfor %}
	    </div>
	{% else %}
	    <p>No projects are posted.</p>
	{% endif %}
{% endblock %}
