{% extends "core/base.html" %}

{% block head %}
<style>
	.about-box {
		
	}

	.about-box .title {
		color: white;
		background-color: deepskyblue;
		text-align: center;
		font-size: 3rem;
		font-weight: bold;
	}

	.about-box .text {
		text-align: center;
		mnargin:auto;
	}
</style>
{% endblock %}

{% block content %}
<div class="about-box container">
	<div class='title'>
		About ShareIdea
	</div>
	<div class="text ">
		<p>This is my ShareIdea Project</p>
		<p><small>&copy;{% now "Y" %} Luba</small></p>		
	</div>
</div> <!-- /about-box -->
{% endblock %}