
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand nav-glyph nav-elem small-header1"  href="{% url 'home' %}" style = "font-size:22px;" href="{% url 'home' %}">Share Idea</a>
  <!--
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon">X</span>
  </button>
-->
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="nav nav-pills" style = "min-width:15px;min-height:15px;padding-left:3%;">
            <li role = "presentation">
                <a class="nav-glyph nav-elem small-header1"  href="{% url 'home' %}" style = "font-size:22px;"><span class = "glyphicon glyphicon-home"> </span> Home</a>
            </li>

            <li class="nav-item dropdown nav-elem small-header1" style  = "color:#CB34E9;font-size:22px;font-weight:bold;background-color:#FFFFFF;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class = "glyphicon glyphicon-book"></span>  Projects >
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <ul style="list-style: none;">
                    <li>
                      <a class="dropdown-item" href="{% url 'project_create' %}">New Project</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Edit Project</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Delete Project</a>
                    </li>
                    <li>
                      <p style="border: 1px solid lightgray; margin-top: 6px; height:0;"></p>
                      <a class="dropdown-item" href="{% url 'project_list' %}">Search Projects</a>
                    </li>
                </ul>
                </div>
            </li>

            <li class="nav-item dropdown nav-elem small-header1" style  = "color:#CB34E9;font-size:22px;font-weight:bold;background-color:#FFFFFF;">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class = "glyphicon glyphicon-book"></span>  Account >
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                  <ul style="list-style: none;">
                    <li>
                      <a class="dropdown-item" href="{% url 'signup' %}">Sign up</a>
                    </li>
                    <li>
                      <a class="dropdown-item" href="#">Update profile</a>
                    </li>
                    <li>
                      <p style="border: 1px solid lightgray; margin-top: 6px; height:0;"></p>
                      <a class="dropdown-item" href="/admin/">Admin tools</a>
                    </li>
                </ul>
                </div>
            </li>

            <li>
                <a href="{% url 'about' %}" class = "nav-glyph nav-elem small-header1" style = "font-size:22px;"><span class = 'nav-glyph glyphicon glyphicon-info-sign'></span> About</a>
            </li>
            <li>
                <a href="{% url 'login' %}" class = "nav-elem small-header1" style  = "color:#CB34E9;font-size:22px;font-weight:bold;background-color:#FFFFFF;"><span class = "glyphicon glyphicon-log-in"></span> Sign in</a>
            </li>
        </ul>            <!-- /.navbar-collapse -->
</div>
<!-- /.container -->
    